<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的订单页面</title>
    <link th:href="@{/asserts/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/layout.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/template.css}" rel="stylesheet"/>
</head>

<body>
<header id="header">
    <div class="header_top">
        <div class="header_top_left">[[${session.loginUser}]]您好！欢迎光临小菜菜网
            <a th:if="${session.loginUser} eq null" th:href="@{/client/tologin}" target="_parent">登录</a>
            <a th:if="${session.loginUser} eq null" th:href="@{/client/toregister}" target="_parent">免费注册</a>
        </div>
        <div class="header_top_right">
            <ul>
                <li><a href="tencent://message/?uin=2810686942&Site=http://vps.shuidazhe.com&Menu=yes">QQ在线联系</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/client/myOrderList/}+${session.loginUser}" target="_self">我的订单</a></li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">我的订单</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/clent/myDetail/}+${session.loginUser}" target="_parent">我的账户</a></li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">我的账户</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">购物车</a></li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/ShoppingDetail/}+${session.loginUser}" target="_parent">购物车</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="header_middle">
    <div class="logo"><img th:src="@{/asserts/img/sitelogo.jpg}" alt="logo"/></div>
    <div class="search">
        <form th:action="@{/client/searchGoods/}+${session.loginUser}">
            <input name="goodsSearch" type="text" placeholder="请输入搜索关键字"/>
            <input type="submit" style="background: #3abbeb"  value="搜索">
        </form>
    </div>
</div>
<nav id="nav">
    <ul>
        <li style="width:400px"><a th:href="@{/client}"> 全部商品分类</a></li>
        <li style="width:400px"><a th:href="@{/client}"> 首页</a></li>
    </ul>
</nav>
<!--中间部分开始-->
<div id="main">
    <div>&nbsp&nbsp&nbsp全场免运费活动中</div>
</div>
<div class="shopping_list_top" th:if="${orders} ne null">您已选购以下商品</div>
<div class="shopping_list_border">
    <div class='empty_product' th:if="${orders} eq null">
        <div>您还没有订单，<a th:href="@{/client}">去看看吧>></a>
        </div>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" th:if="${orders} ne null">
        <tr class="shopping_list_title">
            <td class="shopping_list_title_1">商品名</td>
            <td class="shopping_list_title_5">数量</td>
            <td class="shopping_list_title_4">小菜菜价</td>
            <td class="shopping_list_title_2">总价</td>
            <td class="shopping_list_title_2">收货姓名</td>
            <td class="shopping_list_title_2">收货地址</td>
            <td class="shopping_list_title_4">订单状态</td>
            <td class="shopping_list_title_4">下单时间</td>
            <td class="shopping_list_title_4">操作</td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="myTableProduct" th:if="${orders} ne null">
        <tr class="shopping_product_list" id="shoppingProduct_01"
        th:each="order:${orders}">
            <td class="shopping_product_list_1"><a th:href="@{/clientGoodsDetailByGoodsName/}+${order.goodsName}" class="blue">[[${order.goodsName}]]</a></td>
            <td class="shopping_product_list_5">[[${order.goodsCount}]]</td>
            <td class="shopping_product_list_4">￥<label>[[${order.sellPrice}]]</label></td>
            <td class="shopping_product_list_2"><label>[[${order.orderTotal}]]</label></td>
            <td class="shopping_list_title_2">[[${order.realName}]]</td>
            <td class="shopping_list_title_2">[[${order.addressDetail}]]</td>
            <td class="shopping_product_list_2">
                <label th:if="${order.statue} eq '1'" th:text="${order.statue}?'未发货'">[[${order.statue}]]</label>
                <label th:if="${order.statue} eq '2'" th:text="${order.statue}?'已发货'">[[${order.statue}]]</label>
                <label th:if="${order.statue} eq '3'" th:text="${order.statue}?'请求退货'">[[${order.statue}]]</label>
                <label th:if="${order.statue} eq '4'" th:text="${order.statue}?'已退货'">[[${order.statue}]]</label>
                <label th:if="${order.statue} eq '5'" th:text="${order.statue}?'已收货'">[[${order.statue}]]</label>
            </td>
            <td class="shopping_list_title_4">[[${order.createDate}]]</td>
            <td class="shopping_list_title_4">
                <a th:if="${order.statue} eq '2'" th:href="@{/client/orderUpdateStatue/}+${order.orderId}">
                    <button type="button" style="height:40px;width: 75px;font-weight:bold;background-color: #34ce57">确定收货
                    </button>
                </a>
                <a th:if="${order.statue} eq '5'" th:href="@{/clent/orderUpdateStatue/}+${order.orderId}">
                    <button type="button" style="height:40px;width: 75px;font-weight:bold;background-color: #1eb2e9">请求退货
                    </button>
                </a>
            </td>
        </tr>
    </table>

</div>
</div>

<!--网站版权部分开始-->
<footer id="footer">
    <div class="footer_top"><a href="#" target="_parent" class="footer_dull_red">正版保障</a> | <a href="#" target="_parent"
                                                                                               class="footer_dull_red">满额免运</a>
        | <a href="#" target="_parent" class="footer_dull_red">货到付款</a> | <a href="#" target="_parent"
                                                                             class="footer_dull_red">品种最全</a> | <a
                href="#" target="_parent" class="footer_dull_red">免费退换</a></div>
    <div class="footer_end">Copyright (C) 小菜菜网 2006-2016, All Rights Reserved <img th:src="@{/asserts/img/validate.gif}" alt="版权"
                                                                                  style="vertical-align:middle;"/>
        京ICP证100488号 出版物经营许可证 京批100160号
    </div>
</footer>
<script th:src="@{/asserts/js/jquery-1.12.4.js}"></script>
</body>
</html>
