<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>蔚蓝网商品展示页面</title>
    <link th:href="@{/asserts/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/layout.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/template.css}" rel="stylesheet"/>
</head>
<body>
<header id="header">
    <div class="header_top">
        <div class="header_top_left">[[${session.loginUser}]]您好！欢迎光临小菜菜网
            <a th:if="${session.loginUser} eq null" th:href="@{/client/tologin}" target="_parent">登录</a>
            <a th:if="${session.loginUser} eq null" th:href="@{/client/toregister}" target="_parent">免费注册</a>
        </div>
        <div class="header_top_right">
            <ul>
                <li><a href="tencent://message/?uin=2810686942&Site=http://vps.shuidazhe.com&Menu=yes">QQ在线联系</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/client/myOrderList/}+${session.loginUser}"
                       target="_self">我的订单</a></li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">我的订单</a>
                </li>
                <li>|</li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/clent/myDetail/}+${session.loginUser}"
                       target="_parent">我的账户</a></li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">我的账户</a>
                </li>
                <li>|</li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">购物车</a>
                </li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/ShoppingDetail/}+${session.loginUser}"
                       target="_parent">购物车</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="header_middle">
    <div class="logo"><img th:src="@{/asserts/img/sitelogo.jpg}" alt="logo"/></div>
    <div class="search">
        <form th:action="@{/client/searchGoods/}+${session.loginUser}">
            <input name="goodsSearch" type="text" placeholder="请输入搜索关键字"/>
            <input type="submit" style="background: #3abbeb"  value="搜索">
        </form>
    </div>
</div>
<nav id="nav">
    <ul>
        <li style="width:400px"><a th:href="@{/client}"> 全部商品分类</a></li>
        <li style="width:400px"><a th:href="@{/client}"> 首页</a></li>
    </ul>
</nav>
<!--中间部分开始-->
<section id="main">
    <div class="current_place">您现在的位置：<a th:href="@{/client}">小菜菜网</a> &gt;&gt; [[${goodscategory.categoryName}]]</div>
    <div class="book_left">
        <!--图书商品分类开始-->
        <div class="book_sort">
            <div class="book_sort_bg"><img th:src="@{/asserts/img/dd_book_cate_icon.gif}"/> 商品分类</div>
            <div th:each="category:${categories}">
                <div class="book_cate">
                    <a th:href="@{/client/toproductlistbycategory/}+${category.categoryName}">[[${category.categoryName}]]</a>
                </div>
            </div>
        </div>
    </div>
    <!--右侧内容开始-->
    <div id="product_storyList">
        <div id="product_storyList_top">
            <ul>
                <li>排序方式</li>
                <li>
                    <select id="compositor">
                        <option>[[${goodscategory.categoryName}]]</option>
                    </select>
                </li>
            </ul>
        </div>
        <!--图书排列开始-->
        <div id="product_storyList_content" class="product_storyList_content">
            <div id="storyBooksssss"><!--使用javaScript显示图书列表--></div>
            <!--列表开始-->
            <div class="product_storyList_content_right" th:each="goods:${goods}">
                <form name="shoppingdetail" th:action="@{/clientShoppingAdd/}+${session.loginUser}" method="post">
                    <ul>
                        <li class="product_storyList_content_dash">
                            <a th:href="@{/clientGoodsDetailByGoodsName/}+${goods.goodsName}">[[${goods.goodsName}]]</a>
                        </li>
                        <li>
                            <img style="width: 200px;height: 200px" th:src="@{${goods.goodsImg}}" alt="商品图片"/>
                        </li>
                        <li>生鲜名称：[[${goods.goodsName}]]<input type="hidden" name="goodsName" th:value="${goods.goodsName}"/></li>
                        <li>类别：[[${goods.categoryName}]]</li>
                        <li>[[${goods.details}]]</li>
                        <li>
                            <dl class="product_content_dd">
                                <dd>
                                    <input th:if="${session.loginUser} ne null" type="number" name="goodsCount"
                                           oninput="value=value.replace(/[^\d]/g,'')" placeholder="请输入购买数量" value="1">
                                    <input th:if="${session.loginUser} ne null" type="submit" value="添加到购物车">
                                </dd>
                                <dd>库存量：[[${goods.inventory}]]斤</dd>
                                <dd class="footer_dull_red"><span>￥[[${goods.sellPrice}]]</span></dd>
                            </dl>
                    </ul>
                </form>
            </div>
            <div class="product_storyList_content_bottom"></div>
            <div>
                <dl class="product_content_dd">
                    <dd><img src="images/OK.gif" alt="ok"/></dd>
                    <dd>页</dd>
                    <dd><input name="page" type="text" value="1" style="width:20px;"/></dd>
                    <dd>跳转到第</dd>
                    <dd><img src="images/next.gif" alt="ok"/></dd>
                    <dd>
                        <ul id="product_page">
                            <li><a href="#" class="product_page">1</a></li>
                            <li><a href="#" class="product_page">2</a></li>
                            <li><a href="#" class="product_page">3</a></li>
                            <li> ...</li>
                            <li><a href="#" class="product_page">14</a></li>
                            <li><a href="#" class="product_page">15</a></li>
                            <li><a href="#" class="product_page">16</a></li>
                        </ul>
                    </dd>
                    <dd><img src="images/product_page_up.gif" alt="ok"/></dd>
                </dl>
            </div>
        </div>
    </div>
    <!--右侧内容结束-->
</section>
<!--网站版权部分开始-->
<footer id="footer">
    <div class="footer_top"><a href="#" target="_parent" class="footer_dull_red">正版保障</a> | <a href="#" target="_parent"
                                                                                               class="footer_dull_red">满额免运</a>
        | <a href="#" target="_parent" class="footer_dull_red">货到付款</a> | <a href="#" target="_parent"
                                                                             class="footer_dull_red">品种最全</a> | <a
                href="#" target="_parent" class="footer_dull_red">免费退换</a></div>
    <div class="footer_end">Copyright (C) 小菜菜网 2006-2016, All Rights Reserved <img th:src="@{/asserts/img/validate.gif}"
                                                                                   alt="版权"
                                                                                   style="vertical-align:middle;"/>
        京ICP证100488号 出版物经营许可证 京批100160号
    </div>
</footer>

<script th:src="js/jquery-1.12.4.js"></script>
<script src="js/product.js"></script>
<script src="js/header.js"></script>
</body>
</html>
