<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>蔚蓝网注册页面</title>
    <link th:href="@{/asserts/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/layout.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/template.css}" rel="stylesheet"/>
</head>

<body>
<header class="header_middle">
    <div id="register_header">
        <div class="register_header_left">
        </div>
        <div class="register_header_right">
            <a th:href="@{/client}" class="blue">首页</a> |
            <a th:href="@{/client}" class="blue">商品展示页</a> |
            <a th:href="@{/client/tologin}" class="blue">登录</a>
        </div>
    </div>
</header>
<section id="main">
    <div class="register_content">
        <div class="register_mid_bg">用户注册</div>
        <div class="register_message">
            <form action="/client/user/register" method="post" id="myform">
                <dl class="register_row">
                    <dt>平台昵称：</dt>
                    <dd><input name="userName" th:if="${user} eq null" id="email" type="text" required="required" class="register_input"/></dd>
                    <dd><input name="userName" th:if="${user} ne null" th:value="${user.userName}"
                               id="email" type="text" required="required" class="register_input"/></dd>
                </dl>
                <dl class="register_row">
                    <dt>设定密码：</dt>
                    <dd><input name="password" th:if="${user} eq null" id="password" type="password" class="register_input" required="required"
                               pattern="[a-zA-Z0-9]{6,20}"/></dd>
                    <dd><input name="password" th:if="${user} ne null" th:value="${user.password}" id="password" type="password" class="register_input" required="required"
                               pattern="[a-zA-Z0-9]{6,20}"/></dd>
                </dl>
                <dl class="register_row">
                    <dt>真实姓名</dt>
                    <dd><input name="realName" th:if="${user} eq null" type="text" class="register_input" required="required"/></dd>
                    <dd><input name="realName" th:if="${user} ne null" th:value="${user.realName}" type="text" class="register_input" required="required"/></dd>
                </dl>
                <dl class="register_row">
                    <dt>邮箱：</dt>
                    <dd><input name="email" th:if="${user} eq null" type="email" class="register_input" required="required"/></dd>
                    <dd><input name="email" th:if="${user} ne null" th:value="${user.email}" type="email" class="register_input" required="required"/></dd>
                </dl>
                <dl class="register_row">
                    <dt>电话：</dt>
                    <dd><input name="phone" th:if="${user} eq null" type="text" class="register_input" required="required"
                               pattern="[a-zA-Z0-9]{4,20}"/></dd>
                    <dd><input name="phone" th:if="${user} ne null" th:value="${user.phone}" type="text" class="register_input" required="required"
                               pattern="[a-zA-Z0-9]{4,20}"/></dd>
                </dl>
                <dl class="register_row">
                    <dt>短信验证码：</dt>
                    <dd><input name="duanxin" type="text" class="register_input"/></dd>
                    <dd><button type="submit">获取验证码</button></dd>
                </dl>
                <dl class="register_row">
                    <dt>所在地区：</dt>
                    <dd>
                        <select name="address" id="city" style="width:130px;">
                            <option>请选择所在地区</option>
                            <option>鼓楼区</option>
                            <option>玄武区</option>
                            <option>建邺区</option>
                            <option>栖霞区</option>
                            <option>雨花台区</option>
                            <option>浦口区</option>
                            <option>六合区</option>
                            <option>江宁区</option>
                            <option>溧水区</option>
                            <option>高淳区</option>
                        </select>
                    </dd>
                </dl>
                <div class="registerBtn"><input id="registerBtn" type="image" th:src="@{/asserts/img/register.gif}"/></div>
            </form>
        </div>
    </div>
</section>
<!--网站版权部分开始-->
<footer id="footer">
    <div class="footer_top"><a href="#" target="_parent" class="footer_dull_red">正版保障</a> | <a href="#" target="_parent"
                                                                                               class="footer_dull_red">满额免运</a>
        | <a href="#" target="_parent" class="footer_dull_red">货到付款</a> | <a href="#" target="_parent"
                                                                             class="footer_dull_red">品种最全</a> | <a
                href="#" target="_parent" class="footer_dull_red">免费退换</a></div>
    <div class="footer_end">Copyright (C) 小菜菜网 2006-2016, All Rights Reserved <img th:src="@{/asserts/img/validate.gif}" alt="版权"
                                                                                   style="vertical-align:middle;"/>
        京ICP证100488号 出版物经营许可证 京批100160号
    </div>
</footer>
<script th:src="@{/asserts/js/jquery-1.12.4.js}"></script>
<script th:src="@{/asserts/js/register.js}"></script>
</body>
</html>
