<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的订单页面</title>
    <link th:href="@{/asserts/css/global.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/layout.css}" rel="stylesheet"/>
    <link th:href="@{/asserts/css/template.css}" rel="stylesheet"/>
</head>

<body>
<header id="header">
    <div class="header_top">
        <div class="header_top_left">[[${session.loginUser}]]您好！欢迎光临小菜菜网
            <a th:if="${session.loginUser} eq null" th:href="@{/client/tologin}" target="_parent">登录</a>
            <a th:if="${session.loginUser} eq null" th:href="@{/client/toregister}" target="_parent">免费注册</a>
        </div>
        <div class="header_top_right">
            <ul>
                <li><a href="tencent://message/?uin=2810686942&Site=http://vps.shuidazhe.com&Menu=yes">QQ在线联系</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/client/myOrderList/}+${session.loginUser}" target="_self">我的订单</a></li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">我的订单</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/clent/myDetail/}+${session.loginUser}" target="_parent">我的账户</a></li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">我的账户</a></li>
                <li>|</li>
                <li><a th:if="${session.loginUser} eq null" th:href="@{/ShoppingDetail/ReturnIndex}" target="_parent">购物车</a></li>
                <li><a th:if="${session.loginUser} ne null" th:href="@{/ShoppingDetail/}+${session.loginUser}" target="_parent">购物车</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="header_middle">
    <div class="logo"><img th:src="@{/asserts/img/sitelogo.jpg}" alt="logo"/></div>
    <div class="search">
        <form th:action="@{/client/searchGoods/}+${session.loginUser}">
            <input name="goodsSearch" type="text" placeholder="请输入搜索关键字"/>
            <input type="submit" style="background: #3abbeb"  value="搜索">
        </form>
    </div>
</div>
<nav id="nav">
    <ul>
        <li style="width:400px"><a th:href="@{/client}"> 全部商品分类</a></li>
        <li style="width:400px"><a th:href="@{/client}"> 首页</a></li>
    </ul>
</nav>
<!--中间部分开始-->
<div id="main">
</div>
<div class="shopping_list_top" th:if="${user} ne null">您的信息如下</div>
<div class="shopping_list_border">
    <div>
        <form th:action="@{/client/UpdateMyDetail/}">
        <table border="2">
            <tr>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">平台昵称</label>
                </th>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">密码</label></th>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">真实姓名</label>
                </th>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">地址</label></th>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">邮箱</label></th>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">电话</label></th>
                <th style="height: 30px"><label style="text-align:center; height:25px; font-size:18px;">操作</label></th>
            </tr>
            <tr>
                <td>
                    <input th:if="${msg} eq null" name="userName" style="text-align:center; height:40px; font-size:18px;" type="text"
                           readonly="readonly" placeholder="请输入平台昵称" th:value="${user!=null}?${user.userName}">
                    <input th:if="${msg} ne null" name="userName"
                           style="text-align:center; height:40px; font-size:18px;" type="text"
                           placeholder="请输入平台昵称" th:value="${user!=null}?${user.userName}">
                </td>
                <td>
                    <input th:if="${msg} eq null" name="password" style="text-align:center; height:40px; font-size:18px;" type="password"
                           readonly="readonly" placeholder="请输入密码" th:value="${user!=null}?${user.password}">
                    <input th:if="${msg} ne null" name="password" style="text-align:center; height:40px; font-size:18px;" type="password"
                            placeholder="请输入密码" th:value="${user!=null}?${user.password}">
                </td>
                <td>
                    <input th:if="${msg} eq null" name="realName" style="text-align:center; height:40px; font-size:18px;" type="text"
                           readonly="readonly" placeholder="请输入真实姓名" th:value="${user!=null}?${user.realName}">
                    <input th:if="${msg} ne null" name="realName" style="text-align:center; height:40px; font-size:18px;" type="text"
                            placeholder="请输入真实姓名" th:value="${user!=null}?${user.realName}">
                <td>
                    <input th:if="${msg} eq null" name="address" style="text-align:center; height:40px; font-size:18px;" type="text"
                           readonly="readonly" placeholder="请输入地址" th:value="${user!=null}?${user.address}">
                    <input th:if="${msg} ne null" name="address" style="text-align:center; height:40px; font-size:18px;" type="text"
                            placeholder="请输入地址" th:value="${user!=null}?${user.address}">
                </td>
                <td>
                    <input th:if="${msg} eq null" name="email" style="text-align:center; height:40px; font-size:18px;" type="email"
                           readonly="readonly" placeholder="请输入邮箱" th:value="${user!=null}?${user.email}">
                    <input th:if="${msg} ne null" name="email" style="text-align:center; height:40px; font-size:18px;" type="email"
                            placeholder="请输入邮箱" th:value="${user!=null}?${user.email}">
                </td>
                <td>
                    <input th:if="${msg} eq null" name="phone" style="text-align:center; height:40px; font-size:18px;" type="text"
                           readonly="readonly" placeholder="请输入电话" th:value="${user!=null}?${user.phone}">
                    <input th:if="${msg} ne null" name="phone" style="text-align:center; height:40px; font-size:18px;" type="text"
                            placeholder="请输入电话" th:value="${user!=null}?${user.phone}">
                </td>
                <td>
                    <a th:if="${msg} ne null">
                        <button type="submit" style="height:40px;width: 155px;font-weight:bold;background-color: #1eb2e9">保存修改
                        </button>
                    </a>
                    <a th:if="${msg} eq null">
                        <button style="height:40px;width: 75px;font-weight:bold;background-color: #34ce57">添加地址
                        </button>
                    </a>
                    <a th:if="${msg} eq null" th:href="@{/client/toUpdateMyDetail/}+${user.userId}">
                        <button type="button" style="height:40px;width: 75px;font-weight:bold;background-color: #1eb2e9">修改信息
                        </button>
                    </a>
                </td>
            </tr>
        </table>
        </form>
    </div>
</div>
</div>

<!--网站版权部分开始-->
<footer id="footer">
    <div class="footer_top"><a href="#" target="_parent" class="footer_dull_red">正版保障</a> | <a href="#" target="_parent"
                                                                                               class="footer_dull_red">满额免运</a>
        | <a href="#" target="_parent" class="footer_dull_red">货到付款</a> | <a href="#" target="_parent"
                                                                             class="footer_dull_red">品种最全</a> | <a
                href="#" target="_parent" class="footer_dull_red">免费退换</a></div>
    <div class="footer_end">Copyright (C) 小菜菜网 2006-2016, All Rights Reserved <img th:src="@{/asserts/img/validate.gif}"
                                                                                   alt="版权"
                                                                                   style="vertical-align:middle;"/>
        京ICP证100488号 出版物经营许可证 京批100160号
    </div>
</footer>
<script th:src="@{/asserts/js/jquery-1.12.4.js}"></script>
</body>
</html>
